@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Global reset tweaks if needed. 
  For example, ensuring smooth scrolling or specific font settings.
*/
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  @apply bg-slate-50 text-slate-900; /* Sets the default background based on our design */
}
